.arrow--up {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
  margin: auto;
  text-align: center;
  background-image: url(/images/arrowup.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: moveUp 1s 0s infinite;
          animation: moveUp 1s 0s infinite; }

@-webkit-keyframes moveUp {
  0% {
    bottom: 0; }

  50% {
    bottom: 10px; }

  50% {
    bottom: -20px; }

  100% {
    bottom: 0; } }

@keyframes moveUp {
  0% {
    bottom: 0; }

  50% {
    bottom: 10px; }

  50% {
    bottom: -20px; }

  100% {
    bottom: 0; } }
.info-animation span {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  background-image: url(/images/sound.svg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  z-index: 99;
  opacity: 1;
  pointer-events: none;
  -webkit-animation: none;
          animation: none; }
.info-animation.on span:nth-child(1n) {
  -webkit-animation: infoAnim 1s 0s infinite linear;
          animation: infoAnim 1s 0s infinite linear; }
.info-animation.off span:nth-child(1n) {
  -webkit-animation: infoAnimOff 0.12s 0s linear;
          animation: infoAnimOff 0.12s 0s linear; }
.info-animation.on span:nth-child(2n) {
  -webkit-animation: infoAnim 1s 0.33s infinite linear;
          animation: infoAnim 1s 0.33s infinite linear; }
.info-animation.off span:nth-child(2n) {
  -webkit-animation: infoAnimOff 0.12s 0.33s linear;
          animation: infoAnimOff 0.12s 0.33s linear; }
.info-animation.on span:nth-child(3n) {
  -webkit-animation: infoAnim 1s 0.66s infinite linear;
          animation: infoAnim 1s 0.66s infinite linear; }
.info-animation.off span:nth-child(3n) {
  -webkit-animation: infoAnimOff 0.12s 0.66s linear;
          animation: infoAnimOff 0.12s 0.66s linear; }
.info-animation.on span:nth-child(4n) {
  -webkit-animation: infoAnim 1s 0.99s infinite linear;
          animation: infoAnim 1s 0.99s infinite linear; }
.info-animation.off span:nth-child(4n) {
  -webkit-animation: infoAnimOff 0.12s 0.99s linear;
          animation: infoAnimOff 0.12s 0.99s linear; }

.info-animation span.toggle {
  background-image: url(/images/whitesound.svg) !important; }

@-webkit-keyframes infoAnim {
  0% {
    -webkit-transform: translate(0px, 0px) scale(0.5);
            transform: translate(0px, 0px) scale(0.5); }

  20% {
    -webkit-transform: translate(-40px, 0px) scale(1);
            transform: translate(-40px, 0px) scale(1); }

  100% {
    -webkit-transform: translate(0px, 0px) scale(0.25);
            transform: translate(0px, 0px) scale(0.25); } }

@keyframes infoAnim {
  0% {
    -webkit-transform: translate(0px, 0px) scale(0.5);
            transform: translate(0px, 0px) scale(0.5); }

  20% {
    -webkit-transform: translate(-40px, 0px) scale(1);
            transform: translate(-40px, 0px) scale(1); }

  100% {
    -webkit-transform: translate(0px, 0px) scale(0.25);
            transform: translate(0px, 0px) scale(0.25); } }
@-webkit-keyframes infoAnimOff {
  0% {
    -webkit-transform: translate(-40px, 0px) scale(1);
            transform: translate(-40px, 0px) scale(1); }

  100% {
    -webkit-transform: translate(0px, 0px) scale(0.25);
            transform: translate(0px, 0px) scale(0.25); } }
@keyframes infoAnimOff {
  0% {
    -webkit-transform: translate(-40px, 0px) scale(1);
            transform: translate(-40px, 0px) scale(1); }

  100% {
    -webkit-transform: translate(0px, 0px) scale(0.25);
            transform: translate(0px, 0px) scale(0.25); } }
/*=================================================*/
#info {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 100%;
  right: 0;
  overflow: hidden;
  cursor: default;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

.info-detail {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(/images/button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: 0;
  overflow: hidden;
  cursor: default;
  z-index: 999;
  pointer-events: none; }

.info-detail.toggle {
  background-image: url(/images/blackbutton.svg); }

#info:hover {
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

#info.toggle {
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

#info.toggle:hover {
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

.info-fill {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0;
  z-index: 998;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

.info-fill.toggle {
  opacity: 0.75;
  pointer-events: all;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

.info-text {
  position: fixed;
  margin-left: 5%;
  margin-right: 5%;
  top: 85px;
  color: white;
  font-size: 22;
  opacity: 0;
  z-index: 99999;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

.info-text.toggle {
  pointer-events: all;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

/*=================================================*/
.first--info__wrap {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  pointer-events: none;
  font-size: 2rem;
  font-weight: 800;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

.first--info__wrap.toggle {
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out; }

.container-buttons {
  position: absolute;
  right: 0;
  margin-right: 5%;
  margin-top: 40px;
  z-index: 999; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: #d0a88d;
  cursor: default;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Fix for preserving font sizes on iPhones (at least) */
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none; }

.link {
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  border-bottom: 1px dotted #fff; }

a:link {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

a:hover {
  color: #a93345;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

.header {
  position: absolute;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 100;
  font-size: 2em;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 24px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

.header.toggle {
  z-index: 99999;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

.container {
  position: fixed;
  bottom: 0;
  width: 100%; }

.block {
  float: left;
  position: relative;
  height: 80px;
  width: 10%; }

.block--arrow {
  float: left;
  position: relative;
  height: 80px;
  width: 10%;
  background-color: red; }

/*=================================================*/
.handle--colour__1 {
  background-color: #a93345; }

.handle--colour__2 {
  background-color: #7AA1DC; }

.handle--colour__3 {
  background-color: #a95b33; }

.handle--colour__4 {
  background-color: #64b089; }

.handle--colour__5 {
  background-color: #faf039; }

.handle--colour__6 {
  background-color: #3965ac; }

.handle--colour__7 {
  background-color: #e4710c; }

.handle--colour__8 {
  background-color: #7bc7e5; }

.handle--colour__9 {
  background-color: #00b495; }

.handle--colour__10 {
  background-color: #805180; }

/*=================================================*/
@media only screen and (max-width: 700px) {
  #info:hover {
    background-color: #000;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; } }
